
#acceuil{ 
				background-color:red;
				width:100%;
				height:100%;
				position:relative;
				}
#historique{ 
				background-color:blue;
				width:100%;
				height:100%;
				position:relative;
				}
#chronologie{
			background-color:green;
			width:100%;
			height:100%;
			position:relative;
			}
#carte{ 
			background-color:yellow;
			width:100%;
			height:100%;
			position:relative;
			}
#gallerie{
			background-color:pink;
			width:100%;
			height:100%;
			position:relative;
			}
#sources{
			background-color:grey;
			width:100%;
			height:100%;
			position:relative;
			}
#sondage{ 
			background-color:purple;
			width:100%;
			height:100%;
			position:relative;
			}




.t1 {
		font-size:30px;
		font-family:Verdana, sans-serif;
		width:120px;
		color:white;
		margin:auto;
		top:20px;
		position:relative;
		
		
		}
		
#map1#map2 {
			position:fixed;
			z-index:100;
			
	
			
			}
#map2 {
			position:fixed;
			z-index:100;
			bottom:30px;
			right:10px;
		
			}
#map2 input  {
						display:block;}